
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.bmifont{font-family: 'Droid Arabic Kufi', serif; font-size:20px;}

.bmispan{font-size:25px; font-weight:bold; color:blue;}



body .bmibutton {
font-size:15px;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
border: none;
cursor: pointer;
width:40%;
border-radius:3px;
font-family: 'Droid Arabic Kufi', serif;
display:inline;
margin:20px 10px;
    height: auto;
}

.bmicancelbtn {
background-color: #f44336;
font-size:15px;
color: white;
padding: 14px 20px;
border: none;
cursor: pointer;
width:40%;
border-radius:3px;
font-family: 'Droid Arabic Kufi', serif;
display:inline;
margin:20px 10px;


}

.bmidivbtn{text-align:center;}

.bmidiv{text-align:center; font-family: 'Droid Arabic Kufi', serif; }

.bmidivtext{text-align:center; font-family: 'Droid Arabic Kufi', serif; margin:30px;}

.bmiform{border: 1px solid gray;background-color:#f2f2f2; width:10cm; border-radius:5px;
 display:inline-table; margin:0px 15px 0px 15px; direction:rtl; text-align:right; padding:8px; }

.bmitable{ border-radius:15px;
  margin:0px 15px 0px 15px; 
  text-align:right;  display:inline-table; direction:rtl; height:100%;width: 50%; }
td {
    padding-right: 10px;
}

input[type=text]{
width: 100%;
padding: 8px 20px;
border: 1px solid lightblue;
box-sizing: border-box;
border-radius:3px;
margin:0px;
}

tr:nth-child(even){background-color: #f2f2f2}
.s{background-color: #f2f2f2}

tr{	height:40px;	}

th {
    background-color: #1f2491;
    color: white;
	text-align:center;
	height:20px;
}

