@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
html, body
{
	direction: rtl;
	height: 100%;
    color: #0b9af4 !important;
	font-family: 'Cairo', sans-serif !important;
}

body
{
	direction: rtl;
	margin: 0px;
	padding: 0px;
	background: #2056ac;
	font-size: 13pt !important;
	
	
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	color: #404040;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
	text-align: center;
    
}

strong
{
}

a
{
	color: #2056ac;
}

a:hover
{
	text-decoration: underline;
}


.container
{
	margin: 0px auto;
	width: 1200px;
}

.center {
	color : black;
	padding: 0px 0;
	border: 0px solid blue;
	text-align: center;
}

.center p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.about_maindiv{
	text-align:center;
	/*border: 1px solid lightblue;*/
	margin: 0 auto;
	border-radius:5px;
	padding:10px;
	width:80%;


}

.main{height:100%;}


.about_imgdiv h2{

	color: white;
	margin: auto;
	margin-top:10%;
	-webkit-text-stroke: 2px black;
	vertical-align: middle;
	font-size:70px;
}

.about_imgdiv{
	text-align:center;
	border-radius:5px;
	padding:10px;
	width:100%;
	height:60%;
	background-repeat:no-repeat;
	background-size: cover !important;	
}

.about_headlines{
	font-family: 'Droid Arabic Kufi', serif;
	text-align: right;
	color: #2F1E28;
	/*font-family: 'Amiri', serif;*/
	font-size:30px;
}

.about_newheadlines{
	color: white;
	margin: auto;
	margin-top:20%;
	-webkit-text-stroke: 2px black;
	vertical-align: middle;
}

.about_desc{
	font-family: 'Droid Arabic Kufi', serif;
	text-align: right;
	color: #28283e;
	/*font-family: 'Harmattan', sans-serif;*/
	font-size:20px;
}

.item-list {
	width: 776px !important;
    height: 0px !important;
	
}



/*********************************************************************************/
/* articles                                                                       */
/*********************************************************************************/


.articleImg{
	
max-width: 100%;
max-height: 170px;
}



@media only screen and (min-width: 980px) {
  .article-image {
    width:100% !important;
	width: 100% !important;
    max-height: 400px !important;
    max-width: 1318px !important;
	border: 0px solid #69C3C4 !important;
	border-radius: 0px !important;
	
  }
}


.box-border {
	
height: 100% !important;
width: 100% !important;
line-height: 2.42857 ! important;
font-family: 'Droid Arabic Kufi', serif !important;
text-align: justify !important;

	
}




/*******************************************************************************/
/* Form Contact us                                                              */
/*********************************************************************************/


.fontst{font-family: 'Droid Arabic Kufi', serif;}
.hst{text-align:center;}

.textarea{
border: 1px solid lightblue !important;
width:100%;
height:200px;
border: 1px solid lightblue;
margin: 0 auto;
border-radius:3px; 
padding:3px;
}

.todirection{
	direction:ltr; 
	font-size:18px;
	

}

.form {
    border: 3px solid lightblue;
	margin: 0 auto;
	width:40%; 
	border-radius:10px; 
	padding:20px;
	font-family: 'Droid Arabic Kufi', serif; 
	direction:rtl;
}

/* Full-width input fields */
body input[type=text], body input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:block;
    border: 1px solid lightblue;
    box-sizing: border-box;
	border-radius:3px;
    max-width: 100%;
}
#commentform input, input[type="text"], input[type="password"], input[type="email"] {
    height: auto !important;
}
.submitbtn {
    width: 100% !important;
    padding: 12px 20px;
    margin: 8px 0;
    display:block;
    border: 1px solid lightblue;
    box-sizing: border-box;
	border-radius:3px;
}

.select{ 
	width: 100% !important;
    padding: 12px 20px;
    display:block;
    border: 1px solid lightblue;
    box-sizing: border-box;
	border-radius:3px;}

/* Set a style for all buttons */
body button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 3px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 100%;
	border-radius:3px;
}

/* Add padding to container elements */
.container {
    padding: 16px;
	
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 25%;
    border-radius: 50%;
}


/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}


/*******************************************************************************/
/* Form Q&A                                                                  */
/*********************************************************************************/

.container-animated{

  width: inherit;
 
}


.divborder{
	width: 43%;
	padding: 12px 20px;
	margin: 8px auto;
	border: 2px solid lightblue;
	border-radius:20px;
	direction:rtl;

}


.topdiv{
	border-bottom:1px solid lightblue;
}

.imgcontainer{
	text-align: right;
	margin: 10px 0 12px 0;

}

.imgdiv{
	width: 13%;
	border-radius: 50%;
}

.drname{
	text-decoration:none;
	color:blue;
	font-size:140%;

}

.question{
	text-decoration:none;
	color:green;
	font-size:110%;
}


.answer{font-size:110%;}

.lastdiv{
	text-align:left;
	margin:10px 0px;
}
.abutton{
	padding:5px 40px;
	background-color:#0080ff;
	color:white;
	text-decoration:none;
	border-radius:20px;

}


.questions_inner{
	
/*margin-left :251px ;	*/
}

.answers_inner {
margin-top : 20px ;
color :black ;		
}

.item-color{
width: 79% !important;
right: 2px;;
border-top-color: black !important;	
}

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

form
{
}

form label
{
	display: block;
	text-align: right;
	margin-bottom: 0.0em;
}

form .submit
{
	margin-top: 2em;
	line-height: 1.5em;
	font-size: 1.3em;
}

form input.text,
form select,
form textarea
{
	position: relative;
	-webkit-appearance: none;
	display: block;
	border: 0;
	background: #fff;
	background: rgba(255,255,255,0.75);
	width: 100%;
	border-radius: 0.50em;
	margin: 1em 0em;
	padding: 1.50em 1em;
	box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
	border: solid 1px rgba(0,0,0,0.15);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	font-size: 1em;
	outline: none;
}

form input.text:hover,
form select:hover,
form textarea:hover
{
}

form input.text:focus,
form select:focus,
form textarea:focus
{
	box-shadow: 0 0 2px 1px #E0E0E0;
	background: #fff;
}

form textarea
{
	min-height: 12em;
}

form .formerize-placeholder
{
	color: #555 !important;
}

form ::-webkit-input-placeholder
{
	color: #555 !important;
}

form :-moz-placeholder
{
	color: #555 !important;
}

form ::-moz-placeholder
{
	color: #555 !important;
}

form :-ms-input-placeholder
{
	color: #555 !important;
}

form ::-moz-focus-inner
{
	border: 0;
}


/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image
{
	display: inline-block;
	border: 1px solid rgba(0,0,0,.1);
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 3em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1
{
}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact
{
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.contact li
{
	display: inline-block;
	padding: 0em 0.10em;
	font-size: 1em;
}

ul.contact li span
{
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a
{
	color: #FFF;
}

ul.contact li a:before
{
	display: inline-block;
	background: #4C93B9;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: rgba(255,255,255,1);
}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
	background-color: transparent; /* blue */	
	border: none;
	color: blue;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 0px 0px;
	cursor: pointer;
	
}



/*********************************************************************************/
/* Heading Titles                                                               */
/*********************************************************************************/

.title
{
	margin-bottom: 3em;
}

.title h2
{
	font-size: 2.8em;
}

.title .byline
{
	font-size: 1.1em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
	position:absolute;
	z-index:1;
	width:100%;
	/*padding-right: 8%;*/
}
#header-wrapper-inner #header {
	height: 75px;
}
#header-wrapper-inner
{
	/*padding-right: 8%;*/
	position:relative;
	z-index:1;
	width:100%;
}

#header
{
	text-align: center;
}

#header {
	width: 100%;
}


.header-inner
{
	direction: rtl;
	margin-right: auto;	
	height: auto;
}
#header-wrapper-inner #header {
	padding-bottom: 0;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	padding: 0em 0em 0em 0em;
}



#logo h1
{
	display: block;
	margin-bottom: 0.20em;
	padding: 0.20em 0.9em;
	font-size: 3.5em;
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}

#logo span
{
	text-transform: uppercase;
	font-size: 2.90em;
	color: rgba(255,255,255,1);
}

#logo span a
{
	color: rgba(255,255,255,0.8);
}

/*********************************************************************************/
/* profile.php classes                                                                          */
/*********************************************************************************/
.profile{
	
	text-align:center;

	
	}
	
.profile-form{
	
	text-align:center;
	
	}
	
input[type=file] {
    display: block !important;
	
	margin:0 auto;
	cursor: pointer;
	border-radius:3px;

	
}

input[type=submit] {
    
	margin:0 auto;
	
	cursor: pointer;
	border-radius:3px;
	
}
.profilelink{
    padding: 12px;
    font-size:23px;
    padding-top: 0;
    margin-top: 0;
}

	

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu-home
{
	height: 100%;
}

#menu
{
	height: 100%;
}

#menu-home ul
{
	display: inline-block;
	padding: 0em 2em;
	text-align: center;
}

#menu ul
{
	display: inline-block;
	padding: 0em 2em;
	text-align: center;
}


#menu-home li
{
	display: inline-block;
}

#menu li
{
	display: inline-block;
}


#menu-home li a, #menu-home li span
{
	padding: 0em 0.5em;
	text-decoration: none;
	font-size: 1em !important;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 35px;
	outline: 0;
	color: #0b9af4;
	background-color:transparent;
	
	
}

#menu li a, #menu li span
{
	padding: 0em 0.5em;
	text-decoration: none;
	font-size: 1em !important;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 35px;
	outline: 0;
	color: white;
	background-color:transparent;
	
	
}

#menu-home li:hover a, #menu-home li:visited a, #menu-home li:active span
{
	background: transparent;
	color: #06baee;
	border-bottom: 2px solid #06baee;
	
}

#menu li:hover a, #menu li:visited a, #menu li:active span
{
	background: transparent;
	
	color: #357ebd;
	border-bottom:2px solid #357ebd;
	
}


#menu .current_page_item a
{
}


/*********************************************************************************/
/* log&reg                                                                         */
/*********************************************************************************/


#menu-home ul:nth-child(2) a {
	position: relative !important;
        width: 100%;
	height: auto;
	left: 0;
}


#menu ul:nth-child(2) a {
	position: relative !important;
        width: 100%;
	height: auto;
	left: 0;
}
#menu-home ul:nth-child(2) {
	/*float: left;*/
	float: right;
	padding-right: 11px;
	padding-top: 10px;
}


#menu ul:nth-child(2) {
	/*float: left;*/
	float: right;
	padding-right: 11px;
	padding-top: 10px;
}

#menu-home ul:first-child {
	text-align: center;
}

#menu ul:first-child {
	text-align: center;
}


.signin {

	position:relative !important;
	font-size:20px;
	/*height:69px;
	width:130px;*/
	left:0px;
}
.signin1 {
	position:relative !important;
	font-size:20px;
	/*height:100px;*/
	/*width:270px;*/
	left:0px;
}

.valid_error {
	color:red;
}

.signInUp {
position: absolute;
right: 7px;
top: 0%;		
}

.exit {
position: absolute;
right: 7px;
top: 0%;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
	padding-top: 5em;
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


.wrapper
{
	overflow: hidden;
	padding: 0em 0em 5em 0em;
	background: #FFF;
}

#wrapper1
{
	background: #FFF;
}

#wrapper2
{
	overflow: hidden;
	background: #F3F3F3;
	padding: 5em 0em;
	text-align: center;
}

#wrapper3
{
}

#wrapper4
{
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page-wrapper
{
	overflow: hidden;
	background: #2F1E28;
	padding: 3em 0em 6em 0em;
	text-align: center;
}

#page
{
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content
{
	float: left;
	width: 700px;
	padding-right: 100px;
	border-right: 1px solid rgba(0,0,0,.1);
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/


#sidebar
{
	float: right;
	width: 350px;
}




/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
	overflow: hidden;
	padding: 5em 0em;
	background: #E3F0F7;
	text-align: center;
}



#footer .fbox1,
#footer .fbox2,
#footer .fbox3
{
	float: left;
	width: 320px;
	padding: 0px 40px 0px 40px;
}

#footer .icon
{
	display: block;
	margin-bottom: 1em;
	font-size: 3em;
}


#footer .title span
{
	color: rgba(255,255,255,0.4);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
	overflow: hidden;
	padding: 5em 0em;
	border-top: 20px solid rgba(255,255,255,0.08);
	text-align: center;
}

#copyright p
{
	letter-spacing: 1px;
	font-size: 0.90em;
	color: rgba(255,255,255,0.6);
}

#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

#newsletter
{
	overflow: hidden;
	padding: 8em 0em;
	background: #EDEDED;
	text-align: center;
}

#newsletter .title h2
{
	color: rgba(0,0,0,0.8);
}

#newsletter .content
{
	width: 600px;
	margin: 0px auto;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio
{
	overflow: hidden;
	padding-top: 5em;
	border-top: 1px solid rgba(0,0,0,0.2);
}

#portfolio .box
{
	text-align: center;
	color: rgba(0,0,0,0.5);
}

#portfolio h3
{
	display: block;
	padding-bottom: 1em;
	font-size: 1em;
	color: rgba(0,0,0,0.6);
}

#portfolio .title
{
	text-align: center;
}

#portfolio .title h2
{
	color: rgba(0,0,0,0.8);
}

.column1,
.column2,
.column3,
.column4
{
	width: 282px;
}

.column1,
.column2,
.column3
{
	float: left;
	margin-right: 24px;
}

.column4
{
	float: right;
}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

#three-column
{
	overflow: hidden;
	margin-top: 5em;
	padding-top: 1em;
	border-top: 1px solid rgba(0,0,0,0.2);
	text-align: center;
}

#three-column h2
{
	margin: 1em 0em;
	font-size: 1.5em;
	font-weight: 700;
}

#three-column .icon
{
	position: relative;
	display: block;
	margin: 0px auto 0.80em auto;
	background: none;
	line-height: 150px;
	font-size: 4em;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	border: 6px solid #67128F;
	text-align: center;
	color: #FFF;

}

#three-column #tbox1,
#three-column #tbox2,
#three-column #tbox3
{
	float: left;
	width: 320px;
	padding: 80px 40px 80px 40px;
}

#three-column .title
{
	text-align: center;
}

#three-column .title h2
{
	font-size: 1.60em;
}

#three-column .title .byline
{
	padding-top: 0.50em;
	font-size: 0.90em;
	color: #858585;
}

#three-column .arrow-down
{
	border-top-color: #292929;
}


ul.tools
{
	margin: 0;
	padding: 0em 0em 0em 0em;
	list-style: none;
}

ul.tools li
{
	display: inline-block;
	padding: 0em .2em;
	font-size: 4em;
}

ul.tools li span
{
	display: none;
	margin: 0;
	padding: 0;
}

ul.tools li a
{
	color: #FFF;
}

ul.tools li a:before {
	display: inline-block;
	background: #1ABC9C;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	line-height: 120px;
	text-align: center;
	color: #FFFFFF;
}
.avatar img {width: 100px;height: 100px;border-radius: 100%; float: right}
#header-wrapper-inner #header {
	margin-right: 0 !important;
}
.hasSubmenu {
	position: relative;
}
body #menu-home ul li .submenu {
	position: absolute;
	right: 0;
	top: 33px;
	background-color: #fcfcfc;
	min-width: 192px;
	padding: 15px 15px;
	border-radius: 13px;
	display: none;
	transition: all 0.5s;
}

body #menu ul li .submenu {
	position: absolute;
	right: 0;
	top: 33px;
	background-color: #fcfcfc;
	min-width: 192px;
	padding: 15px 15px;
	border-radius: 13px;
	display: none;
	transition: all 0.5s;
}

.submenu li {
	float: right;
}
.hasSubmenu:hover a {
	border-bottom: none !important;
}
.submenu li:hover {
	/*border-bottom: 3px solid blue;*/
}
.hasSubmenu:hover .submenu {
	display: block !important;
}
.submenu::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	right: 23%;
	margin-left: -5px;
	/*border-bottom: none !important;*/
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}
#hotArticles article .articleAnswer {
}
li.ask {
	text-align: center;
}
li.ask a {
	background: #062c50 !important;
}
li.ask a:hover {
	background: white !important;
	color: #062c4e;
}
h3.hst {
	margin-left: 22%;
}
.doc-info img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
        float: right;
}

.doc-name-major{
    float: right;
}
.parent {
	/*padding-right: 22%;*/
	margin-bottom: 25px;
}
#menu-home ul:nth-child(3), #menu ul:nth-child(3) {
	float: left;
	padding-right: 0px;
	padding-top: 10px;
	padding-left: 0px;
}
#menu-home > a > img, #menu > a > img {
	float: right;
	width: 15%;
}
#header-wrapper-inner #header {
	padding-top: 8px;
}
.submenu li:hover a {
	color: #0b9af4 !important;
}
.profile {
    background: #050913;
	padding-bottom: 1px;
}
.profile .avatar {
	float: right;
    margin-right: 30px;
}
.profile .avatar form {
	float: right;
	margin-right: 19px;
	margin-top: 21px;
}
.profile .avatar form div input:nth-child(2) {
	float: right;
}
.person p, .person a {
	color: white;
    text-align: right;
}
.person {
    clear: both;
    padding-right: 19px;
}
.person > p:first-child {
    padding-bottom: 0;
    margin-bottom: 0;
}
.profile-form input:first-child {
    color: white;
}
.profile-form input:nth-child(2) {
    color: #0b9af4;
    background: white;
}
#myCarousel .item .carousel-caption h3 {
    line-height: 35px;
}
body .footer-distributed {
    margin-bottom: 0;
    background-color: #062e54 !important;
    text-align: initial !important;
    margin-top: 25px;
    clear: both;
}
.footer-distributed > div:first-child {
    width: 33.3% !important;
    float: right;
}
.footer-right .footer-icons, .footer-left > div:first-child {
    text-align: center;
}
body .footer-distributed .footer-links a:hover {
    color: #0b9af4;
}
body .footer-distributed .footer-icons a:hover {
    background-color: #0b9af4;
}
body .signupbtn {
    width: 100%;
}
body #hotArticles article .articleAnswer {
    border-bottom: none;
}
#articleViewPage, #right_bar_content {
    width: 100%;
}
#right_bar_content .row div:first-child {
    text-align: center;
}
#right_bar_content .row div:first-child h1 {
    color: #000;
}
.article-description > div {
    color: #000;
}
.art-image {
    background-size: cover !important;
    padding: 10px;
    width: 100%;
    height: 60%;
}
body .art-image h1 {
    margin-top: 10%;
    -webkit-text-stroke: 2px black;
    vertical-align: middle;
    font-size: 70px;
    color: white;
}
body .box-border {
    border: none;
}
body div.pv-mobile.ph-xl-mobile {
    float: none;
}
.bmidivtext{
    color: #000 !important;
}

.doc-info{
    color: black !important;
    font-size: 14px;
}

.doc-info-link {
    color: green;
    font-size: 17px;
}
.parent, .exc, .post-inner.ans, .ans ~ #main-content {
	float: left;
	width: 78%;
}
.post-inner:last-child #main-content {
	display: none;
}
.ans ~ #main-content article.item-list.item-color {
	width: 100% !important;
}
.answers_inner {
	float: left;
	width: 69%;
	padding-left: 31%;
}
body .profile-form input:nth-child(2) {
	padding: 0px 9px 4px 8px !important;
	font-size: inherit !important;
	height: auto !important;
}
body #header-wrapper-inner ~ .container.symp {
	width: 60%;
}
.symp form .search_sub input[type="radio"] {
	margin-top: 25px;
}
.symp form input[type="submit"] {
	width: 100%;
}
.doc-name-major {
	width: 20%;
}